
html {
	font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
	html {
		font-size: 16px;
	}
}
@media (min-width: 58em) {
	html {
		font-size: 20px;
	}
}

body {
	padding: 0;
	margin: 0;
	
	background-color: #fafafa;
}

#header {
	margin: 1em 0 1em 0;
	
	background-color: white;
	
	background-image: url(/_static/utopia-background.svg);
	
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#header img {
	display: block;
	margin: auto;
	height: 4em;
}

p {
	color: #555;
}

p strong {
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 2em 1em 1em 1em;
	color: #4E8DD9;
}

img {
	border: none;
}

a {
	color: #33a;
}

a:hover {
	color: #55c;
}

p, dl, h3 {
	margin: 2em;
}

h3 {
	border-bottom: 1px solid #ccf;
}

ul {
	margin-bottom: 1em;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
}

body.front h1 {
	font-weight: normal;
	font-size: 300%;
	color: #F89432;

	text-align: center;
}
