# Development specific:
.rspec_status
.tags*
.bundle
bin/

# Temporary data should not be added to the repository:
tmp/

# This file should only ever exist on production, and may contain sensitive information:
config/environment.yaml

# Ignore resized gallery photos:
public/_gallery/
